In [2]:
import pandas as pd
import numpy as np

In [5]:
data = {
    'Restaurant': ['Sushi Time', 'Curry Spot', 'Taco House'],
    'Cuisine': ['Mediterranean', 'Japanese Food', 'Mexican']
}

df = pd.DataFrame(data)
df

   Restaurant        Cuisine
0  Sushi Time  Mediterranean
1  Curry Spot  Japanese Food
2  Taco House        Mexican

In [6]:
# filtered = df.loc[df['Restaurant']. ____]

In [8]:
df['cleans'] = df.Restaurant.str.capitalize()
df

   Restaurant        Cuisine      cleans
0  Sushi Time  Mediterranean  Sushi time
1  Curry Spot  Japanese Food  Curry spot
2  Taco House        Mexican  Taco house

In [9]:
def print_name(name='Maria'):
    print(name)

print_name("Alex")

Alex

In [14]:
i = 0
while i < 5:
  if i == 3:
    break
  print(i)
  i += 1

0
1
2

In [15]:
def split_string(name):
  new_name = name.split(",")
  print(new_name)


split_string("Jane,Doe")

['Jane', 'Doe']

In [16]:
# Set value of n
n = 10

# initialize counter
i = 1


while i <= n:
  print(i)
  i = i+1    # update counter

1
2
3
4
5
6
7
8
9
10

In [17]:
answers = 0
sample_goal = 10


while answers < sample_goal:
    print('Thanks for your participation')
    answers += 1
    if answers == 10:
        print('Sample goal reached!')

Thanks for your participation
Thanks for your participation
Thanks for your participation
Thanks for your participation
Thanks for your participation
Thanks for your participation
Thanks for your participation
Thanks for your participation
Thanks for your participation
Thanks for your participation
Sample goal reached!

In [18]:
names = ["george", "andrew", "malik"]
for x in names:
    if x == "andrew":
        continue  # Skip the rest of the loop for "andrew"
    print(x)

george
malik

In [ ]:
#  article_price in products.values():
#     if article_price <= 500:
#         print(get_product_name(article_price),'Buy 1 Get 1 Free!')
#     else: print(get_product_name(article_price),'Excluded from promotion')

In [19]:
colors = ["red", "orange", "blue"]
for x in colors:
  print(x)
  if x == "orange":
    break

red
orange

In [21]:
def first_name(*names):
    print("The first name is " + names[0])


first_name("Sagar", "Ilyas", "Jacky")

TypeError: first_name() takes 1 positional argument but 3 were given

In [25]:
a = 10  # Example initial value

while a > 0:
    print("Variable a is equal to:", a)
    a = a - 1
    if a == 5:
        continue  # Skip the rest of the loop when a is 5

    # Additional code can be added here if needed

Variable a is equal to: 10
Variable a is equal to: 9
Variable a is equal to: 8
Variable a is equal to: 7
Variable a is equal to: 6
Variable a is equal to: 5
Variable a is equal to: 4
Variable a is equal to: 3
Variable a is equal to: 2
Variable a is equal to: 1

In [26]:
from sklearn import metrics

y_true = [0, 1, 0, 0, 1, 0, 1, 0, 0, 0]
y_pred = [0, 0, 0, 1, 1, 0, 1, 0, 0, 1]

positive_recall = metrics.recall_score(y_true, y_pred, pos_label=1)
print(f"Recall for the positive class: {positive_recall}")

Recall for the positive class: 0.6666666666666666

In [27]:
import pandas as pd

student_data = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'test_score': [85, 72, 92, 68, 78],
    'age': [16, 17, 15, 18, 16]
})

bins = [0, 60, 70, 80, 90, 100]
# Adjusted to match the bin ranges correctly
labels = ['F', 'D', 'C', 'B', 'A']
student_data['grade'] = pd.cut(
    student_data['test_score'], bins=bins, labels=labels, include_lowest=True)

print(student_data)

      name  test_score  age grade
0    Alice          85   16     B
1      Bob          72   17     C
2  Charlie          92   15     A
3    David          68   18     D
4      Eve          78   16     C