In [5]:
apples = [[9, 25, 33], 
          [16, 19, 16], 
          [25, 37, 15]]
for x in apples:
    print(x[2])

33
16
15

In [7]:
word = 'jump'
for letter in word:
  print(letter)

j
u
m
p

In [4]:
y = range(0,6)
y = sum(y)
y

15

In [10]:
import pandas as pd

# Define the DataFrame
datacamp = pd.DataFrame({'chapter': [1, 2, 3],
                        'course': ['Data Science', 'Data Visualization', 'Databases'],
                        'technology': ['Python', 'R', 'SQL']})

for lab, row in datacamp.iterrows():
  print(lab)
  print(row)

0
chapter                  1
course        Data Science
technology          Python
Name: 0, dtype: object
1
chapter                        2
course        Data Visualization
technology                     R
Name: 1, dtype: object
2
chapter               3
course        Databases
technology          SQL
Name: 2, dtype: object

In [11]:
i = 10
while i > 5:
  print(i)
  i -= 1

10
9
8
7
6

In [12]:
i = 2
while i <= 8:
  print(i)
  i += 1

2
3
4
5
6
7
8

In [4]:
import numpy as np
x = np.array([0, 4, 4])
for j in x:
    print(str(j) + ' km')

0 km
4 km
4 km

In [1]:
x = [1, 2]
mult = {i: 3*i for i in x}
print(mult)

{1: 3, 2: 6}

In [2]:
char = ['peler', 'kont']
code = ['tity', 'dicks']

team_arr = zip(char, code)
for i,j in team_arr:
  print(i+j)

pelertity
kontdicks

In [ ]:
heroes = ['thor', 'hulk']
for i in heroes:
  i.upper()
print(list(to_upper(superhero_list)))

In [3]:
superhero_list = ['thor', 'hulk']

def to_upper(heroes):
  for i in heroes:
    yield i.upper()

print(list(to_upper(superhero_list)))

['THOR', 'HULK']

In [18]:
matrix = [[1,2,3] for i in range(3)]
print(matrix)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [22]:
groceris = ['Apple','Milk','Bread']
groceris = iter(groceris)
groceris

In [ ]:
result = []
for chunk in pd.read_csv('sales.csv', chunksize=2):
  result.append(sum(chunk['sales']))
total = sum(result)
print(total)

In [26]:
flash_vil = ['Mick Rory', 'Leonard Snart', 'Gorilla Grodd']
for x, y in enumerate(flash_vil):
    print(str (x) + ': ' + y)

0: Mick Rory
1: Leonard Snart
2: Gorilla Grodd

In [27]:
flash_vil = ['Mick Rory', 'Leonard Snart', 'Gorilla Grodd']
for x, y in enumerate(flash_vil):
    print(str(x) + ': ' + y)

0: Mick Rory
1: Leonard Snart
2: Gorilla Grodd