In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = {
    'chapter': ['P', 'R', 'S'],
    'course': ['Data Science', 'Data Visualization', 'Databases'],
    'technology': ['Python', 'R', 'SQL']
}

df = pd.DataFrame(data)

In [4]:
df.iloc[[1, 2], [2]]

  technology
1          R
2        SQL

In [9]:
rotation_period = {
    'earth': 1.0,
    'jupiter': 0.415, 
    'saturn': 44}
rotation_period['saturn'] = 0.445
print(rotation_period)

{'earth': 1.0, 'jupiter': 0.415, 'saturn': 0.445}

In [10]:
fruits = { 
    'nuts': 230, 
    'lemons': 200,
    'olives': 250
}
print(fruits['lemons'])

200