In [7]:
import numpy as np
import pandas as pd

In [6]:
def plus_5(number):
  """Adds 5 to a given number and returns the result."""
  new_number = number + 5
  return new_number

plus_5 = lambda number:number+5
print(plus_5)

<function <lambda> at 0x000002D7FF39A8E0>

In [11]:
def mean(*x):
    """Returns the mean of all the numbers"""
    total_sum = 0
    n = len(x)
    for i in x:
        total_sum = total_sum + i
    return total_sum/n
print((mean(4, 5), mean(40, 45, 50)))

(4.5, 45.0)

In [21]:
temp = 15
def convert_temp(x):
    """Converts the temperature from Celsius to Fahrenheit"""
 global temp
 temp = (x * 1.8) + 32
convert_temp(temp)
print(temp)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [ ]:
def print_name(name):
  """Prints Hello and the name of the person."""
  statement = "Hello " + name + "!"
  
print(statement)
print_name('Amy')

In [6]:
floats = [9.33, 7.78, 3.16, 6.52]
integers = [round (x) for x in floats]
print(integers)

[9, 8, 3, 7]

In [7]:
characters = ['The Hulk', 'Iron Man']
names = ['Bruce Banner', 'Tony Stark']

In [9]:
ave = zip(characters, names)
aven = list(ave)
aven

[('The Hulk', 'Bruce Banner'), ('Iron Man', 'Tony Stark')]

In [13]:
letters = ['A', 'B', 'C']
pairs = []
l_and_n = pairs
for letter in letters:
    for num in range(0, 2):
        l_and_n.append((letter, num))

In [15]:
pairs = [(letter, num) for letter in letters for num in range(0,2)]
print(pairs)

[('A', 0), ('A', 1), ('B', 0), ('B', 1), ('C', 0), ('C', 1)]

In [2]:
wordss = iter('ALBERT')
print(*wordss)

A L B E R T

In [ ]:
capitals = {'Australia': 'Canberra',
            'Belgium': 'Brussels', 'Finland': 'Helsinki'}
for i, j in capitals.items():
  print(i, j)

In [2]:
# from sklearn import datasets
# import pandas as pd

# irisdatas = datasets.load_iris()
# irisdatas = pd.DataFrame(irisdatas)
# # irisdatas

In [1]:
# iris = pd.read_csv(irisdatas, chunksize=4)
# print(iris)
# print(next(iris))

In [4]:
floats = [9.33, 7.78, 3.16, 6.52]

In [6]:
floats = []
integers = []

for float in floats:
  integers.append(round(float))

print(floats)

[]

In [9]:
floats = [9.33, 7.78, 3.16, 6.52]
inteher = [round (x) for x in floats]
print(inteher)

[9, 8, 3, 7]

In [10]:
superhero_list = ['thor', 'hulk']

In [14]:
def to_upper(heroes):
  for i in heroes:
    yield i.upper()


print(list(to_upper(superhero_list)))

['THOR', 'HULK']

In [15]:
codenames = ['Spartan', 'Green Arrow']
characters_name = ['Jhon Diggle', ' Oliver Quenn']

In [16]:
team_arrow = zip(codenames, characters_name)
cnames, names = zip(*team_arrow)
print(names)

('Jhon Diggle', ' Oliver Quenn')