In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# `Creating Data Frame`

In [6]:
# Create a list of dictionaries with new data
avocados_list = [
    {'date': '2019-11-03', 'small_sold': '10376832', 'large_sold': '7835071'},
    {'date': '2019-11-10', 'small_sold': '10717154', 'large_sold': '8561348'},
]

# Convert list into DataFrame
avocados_2019 = pd.DataFrame(avocados_list)

# Print the new DataFrame
print(avocados_2019)

         date small_sold large_sold
0  2019-11-03   10376832    7835071
1  2019-11-10   10717154    8561348

In [7]:
# Create a dictionary of lists with new data
avocados_dict = {
  "date": ["2019-11-17", "2019-12-01"],
  "small_sold": [10859987, 9291631],
  "large_sold": [7674135, 6238096]
}

# Convert dictionary into DataFrame
avocados_2019 = pd.DataFrame(avocados_dict)

# Print the new DataFrame
print(avocados_2019)

         date  small_sold  large_sold
0  2019-11-17    10859987     7674135
1  2019-12-01     9291631     6238096

### `Read & Writing CSVs`

In [8]:
# Create the DataFrame
data = {
    "airline": [
        "DELTA AIR LINES", "VIRGIN AMERICA", "JETBLUE AIRWAYS", "UNITED AIRLINES",
        "HAWAIIAN AIRLINES", "EXPRESSJET AIRLINES", "SKYWEST AIRLINES", "AMERICAN AIRLINES",
        "ALASKA AIRLINES", "SOUTHWEST AIRLINES", "FRONTIER AIRLINES", "SPIRIT AIRLINES",
        "DELTA AIR LINES", "VIRGIN AMERICA", "JETBLUE AIRWAYS", "UNITED AIRLINES",
        "HAWAIIAN AIRLINES", "EXPRESSJET AIRLINES", "SKYWEST AIRLINES", "AMERICAN AIRLINES",
        "ALASKA AIRLINES", "SOUTHWEST AIRLINES", "FRONTIER AIRLINES", "SPIRIT AIRLINES"
    ],
    "year": [
        2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017,
        2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016
    ],
    "nb_bumped": [
        679, 165, 1475, 2067, 92, 785, 917, 4517, 658, 6678, 540, 1502,
        912, 77, 2140, 2874, 30, 2541, 2177, 6598, 734, 11907, 688, 1418
    ],
    "total_passengers": [
        99796155, 6090029, 27255038, 70030765, 8422734, 11738812, 24516354, 98017132,
        18817924, 115988988, 12059943, 17069647, 97237060, 5927938, 25990828, 64438132,
        8154838, 16119866, 22575383, 99348093, 17725197, 112153048, 10895052, 15234924
    ]
}

df = pd.DataFrame(data)

# Save the DataFrame as a CSV file
df.to_csv("airline_bumping.csv", index=False)

In [9]:
# 1 . 
# Read CSV as DataFrame called airline_bumping
airline_bumping = pd.read_csv('airline_bumping.csv')

# Take a look at the DataFrame
print(airline_bumping.head())

             airline  year  nb_bumped  total_passengers
0    DELTA AIR LINES  2017        679          99796155
1     VIRGIN AMERICA  2017        165           6090029
2    JETBLUE AIRWAYS  2017       1475          27255038
3    UNITED AIRLINES  2017       2067          70030765
4  HAWAIIAN AIRLINES  2017         92           8422734

incorrect

In [13]:
# 2. 
# From previous step
airline_bumping = pd.read_csv("airline_bumping.csv")
print(airline_bumping.head())

# For each airline, select nb_bumped and total_passengers and sum
airline_totals = airline_bumping.groupby('nb_bumped')[['total_passengers']].sum()

             airline  year  nb_bumped  total_passengers
0    DELTA AIR LINES  2017        679          99796155
1     VIRGIN AMERICA  2017        165           6090029
2    JETBLUE AIRWAYS  2017       1475          27255038
3    UNITED AIRLINES  2017       2067          70030765
4  HAWAIIAN AIRLINES  2017         92           8422734

correct

In [14]:
# 2. 
# From previous step
airline_bumping = pd.read_csv("airline_bumping.csv")
print(airline_bumping.head())

# For each airline, select nb_bumped and total_passengers and sum
airline_totals = airline_bumping.groupby('airline')[['nb_bumped','total_passengers']].sum()

             airline  year  nb_bumped  total_passengers
0    DELTA AIR LINES  2017        679          99796155
1     VIRGIN AMERICA  2017        165           6090029
2    JETBLUE AIRWAYS  2017       1475          27255038
3    UNITED AIRLINES  2017       2067          70030765
4  HAWAIIAN AIRLINES  2017         92           8422734

In [16]:
# From previous steps
airline_bumping = pd.read_csv("airline_bumping.csv")
print(airline_bumping.head())
airline_totals = airline_bumping.groupby("airline")[["nb_bumped", "total_passengers"]].sum()

# Create new col, bumps_per_10k: no. of bumps per 10k passengers for each airline
airline_totals["bumps_per_10k"] = (airline_totals['nb_bumped']) / (airline_totals['total_passengers']) * 10000

             airline  year  nb_bumped  total_passengers
0    DELTA AIR LINES  2017        679          99796155
1     VIRGIN AMERICA  2017        165           6090029
2    JETBLUE AIRWAYS  2017       1475          27255038
3    UNITED AIRLINES  2017       2067          70030765
4  HAWAIIAN AIRLINES  2017         92           8422734

In [17]:
print(airline_totals)

                     nb_bumped  total_passengers  bumps_per_10k
airline
ALASKA AIRLINES           1392          36543121       0.380920
AMERICAN AIRLINES        11115         197365225       0.563169
DELTA AIR LINES           1591         197033215       0.080748
EXPRESSJET AIRLINES       3326          27858678       1.193883
FRONTIER AIRLINES         1228          22954995       0.534960
HAWAIIAN AIRLINES          122          16577572       0.073593
JETBLUE AIRWAYS           3615          53245866       0.678926
SKYWEST AIRLINES          3094          47091737       0.657015
SOUTHWEST AIRLINES       18585         228142036       0.814624
SPIRIT AIRLINES           2920          32304571       0.903897
UNITED AIRLINES           4941         134468897       0.367446
VIRGIN AMERICA             242          12017967       0.201365

In [22]:
# Create airline_totals_sorted
airline_totals_sorted = airline_totals['bumps_per_10k'].sort_values()
# airline_totals = airline_totals.sort_values('bumps_per_10k', ascending=False)

# Print airline_totals_sorted
print(airline_totals)

# Save as airline_totals_sorted.csv

                     nb_bumped  total_passengers  bumps_per_10k
airline
EXPRESSJET AIRLINES       3326          27858678       1.193883
SPIRIT AIRLINES           2920          32304571       0.903897
SOUTHWEST AIRLINES       18585         228142036       0.814624
JETBLUE AIRWAYS           3615          53245866       0.678926
SKYWEST AIRLINES          3094          47091737       0.657015
AMERICAN AIRLINES        11115         197365225       0.563169
FRONTIER AIRLINES         1228          22954995       0.534960
ALASKA AIRLINES           1392          36543121       0.380920
UNITED AIRLINES           4941         134468897       0.367446
VIRGIN AMERICA             242          12017967       0.201365
DELTA AIR LINES           1591         197033215       0.080748
HAWAIIAN AIRLINES          122          16577572       0.073593

Correct

In [23]:
# Create airline_totals_sorted
airline_totals_sorted = airline_totals.sort_values("bumps_per_10k", ascending=False)

# Print airline_totals_sorted
print(airline_totals_sorted)

# Save as airline_totals_sorted.csv
airline_totals_sorted.to_csv('airline_totals_sorted.csv', index=False)

                     nb_bumped  total_passengers  bumps_per_10k
airline
EXPRESSJET AIRLINES       3326          27858678       1.193883
SPIRIT AIRLINES           2920          32304571       0.903897
SOUTHWEST AIRLINES       18585         228142036       0.814624
JETBLUE AIRWAYS           3615          53245866       0.678926
SKYWEST AIRLINES          3094          47091737       0.657015
AMERICAN AIRLINES        11115         197365225       0.563169
FRONTIER AIRLINES         1228          22954995       0.534960
ALASKA AIRLINES           1392          36543121       0.380920
UNITED AIRLINES           4941         134468897       0.367446
VIRGIN AMERICA             242          12017967       0.201365
DELTA AIR LINES           1591         197033215       0.080748
HAWAIIAN AIRLINES          122          16577572       0.073593

Incorrect

In [ ]:
# Create airline_totals_sorted
airline_totals_sorted = airline_totals['bumps_per_10k'].sort_values()

# Print airline_totals_sorted
print(airline_totals_sorted)

# Save as airline_totals_sorted.csv
airline_totals_sorted.to_csv('airline_totals_sorted.csv', index=False)