#### `Using WHERE with numbers`
Filtering with __WHERE__ allows you to analyze your data better. You may have a dataset that includes a range of different movies, and you need to do a case study on the most notable films with the biggest budgets. In this case, you'll want to filter your data to a specific __budget__ range.

Now it's your turn to use the __WHERE__ clause to filter numeric values!

In [ ]:
# # -- Select film_ids and imdb_score with an imdb_score over 7.0
# SELECT film_id, imdb_score
# FROM reviews
# WHERE imdb_score > 7.0;

- Select the __film_id__ and __facebook_likes__ of the first ten records with less than ___1000___ likes from the __reviews__ table.

In [ ]:
# # -- Select film_ids and facebook_likes for ten records with less than 1000 likes
# SELECT film_id, facebook_likes
# FROM reviews
# WHERE facebook_likes < 1000
# LIMIT 10;

- Count how many records have a __num_votes__ of at least ___100,000___; use the alias __films_over_100K_votes__.

In [ ]:
# # -- Count the records with at least 100,000 votes
# SELECT COUNT(num_votes) AS films_over_100K_votes
# FROM reviews
# WHERE num_votes >= 100000;

#### `Using WHERE with text`
___WHERE___ can also filter string values.

Imagine you are part of an organization that gives cinematography awards, and you have several international categories. Before you confirm an award for every language listed in your dataset, it may be worth seeing if there are enough films of a specific language to make it a fair competition. If there is only one movie or a significant skew, it may be worth considering a different way of giving international awards.

- Select and count the __language__ field using the alias __count_spanish__.
- Apply a filter to select only __Spanish__ from the __language__ field.

In [ ]:
# # -- Count the Spanish-language films
# SELECT COUNT(language) AS count_spanish
# FROM films
# WHERE language = 'Spanish';

#### `Using AND`
The following exercises combine __AND__ and __OR__ with the __WHERE__ clause. Using these operators together strengthens your queries and analyses of data.

You will apply these new skills now on the __films__ table.

- Select the __title__ and __release_year__ for all German-language films released before __2000__.

In [ ]:
# # -- Select the title and release_year for all German-language films released before 2000
# SELECT title, release_year
# FROM films
# WHERE release_year < 2000 AND language = 'German';

- Update the query from the previous step to show German-language films released after __2000__ rather than before.

In [ ]:
# # -- Update the query to see all German-language films released after 2000
# SELECT title, release_year
# FROM films
# WHERE release_year > 2000
# 	AND language = 'German';

- Select all details for German-language films released after 2000 but before 2010 using only __WHERE__ and __AND__.

In [ ]:
# # -- Select all records for German-language films released after 2000 and before 2010
# SELECT *
# FROM films
# WHERE language = 'German' AND
#     release_year > 2000 AND 
#     release_year < 2010;

#### `Using OR`
This time you'll write a query to get the __title__ and __release_year__ of films released in 1990 or 1999, which were in English or Spanish and took in more than $2,000,000 __gross__.

It looks like a lot, but you can build the query up one step at a time to get comfortable with the underlying concept in each step. Let's go!

- Select the __title__ and __release_year__ for __films__ released in ___1990___ or ___1999___ using only __WHERE__ and __OR__.

In [ ]:
# # -- Find the title and year of films from the 1990 or 1999
# SELECT title, release_year
# FROM films
# WHERE release_year = 1990 OR release_year = 1999;

- Filter the records to only include English or Spanish-language films.

In [ ]:
# SELECT title, release_year
# FROM films
# WHERE (release_year = 1990 OR release_year = 1999)
# # -- Add a filter to see only English or Spanish-language films
# 	AND (language = 'Spanish' OR language = 'English');

- Finally, restrict the query to only return films worth more than $2,000,000 __gross__.

In [ ]:
# SELECT title, release_year
# FROM films
# WHERE (release_year = 1990 OR release_year = 1999)
# 	AND (language = 'English' OR language = 'Spanish')
# # -- Filter films with more than $2,000,000 gross
# 	AND (gross > 2000000);

#### `Using BETWEEN`
Let's use __BETWEEN__ with __AND__ on the __films__ database to get the __title__ and __release_year__ of all Spanish-language films released between 1990 and 2000 (inclusive) with budgets over $100 million.

We have broken the problem into smaller steps so that you can build the query as you go along!

- Select the __title__ and __release_year__ of all films released between ___1990___ and ___2000___ (inclusive) using __BETWEEN__.

In [ ]:
# # -- Select the title and release_year for films released between 1990 and 2000
# SELECT title, release_year
# FROM films
# WHERE release_year 
#     BETWEEN 1990 AND 2000;

- Build on your previous query to select only films with a __budget__ over ___$100___ million.

In [ ]:
# SELECT title, release_year
# FROM films
# WHERE release_year BETWEEN 1990 AND 2000
# # -- Narrow down your query to films with budgets > $100 million
# 	AND budget > 100000000;

- Now, restrict the query to only return Spanish-language films.

In [ ]:
# SELECT title, release_year
# FROM films
# WHERE release_year BETWEEN 1990 AND 2000
# 	AND budget > 100000000
# # -- Restrict the query to only Spanish-language films
# 	AND language = 'Spanish';

- Finally, amend the query to include all Spanish-language or French-language films with the same criteria.

In [ ]:
# SELECT title, release_year
# FROM films
# WHERE release_year BETWEEN 1990 AND 2000
# 	AND budget > 100000000
# # -- Amend the query to include Spanish or French-language films
# 	AND (language = 'Spanish' OR language = 'French');

#### `LIKE and NOT LIKE`
The __LIKE__ and __NOT LIKE__ operators can be used to find records that either match or do not match a specified pattern, respectively. They can be coupled with the wildcards ___%___ and __. The ___%___ will match zero or many characters, and __ will match a single character.

This is useful when you want to filter text, but not to an exact word.

Do the following exercises to gain some practice with these keywords.

- Select the names of all people whose names begin with '___B___'.

In [ ]:
# # -- Select the names that start with B
# SELECT name
# FROM people
# WHERE name LIKE 'B%';

- Select the names of people whose names have '___r___' as the second letter.

In [ ]:
# SELECT name
# FROM people
# # -- Select the names that have r as the second letter
# WHERE name LIKE '_r%';

- Select the names of people whose names don't start with '___A___'.

In [ ]:
# SELECT name
# FROM people
# # -- Select names that don't start with A
# WHERE name NOT LIKE 'A%';

#### `WHERE IN`
You now know you can query multiple conditions using the __IN__ operator and a set of parentheses. It is a valuable piece of code that helps us keep our queries clean and concise.

Try using the __IN__ operator yourself!

- Select the __title__ and __release_year__ of all films released in 1990 or 2000 that were longer than two hours.

In [ ]:
# # -- Find the title and release_year for all films over two hours in length released in 1990 and 2000
# SELECT title, release_year
# FROM films
# WHERE release_year IN(1990, 2000)
#     AND duration > 120;

- Select the __title__ and __language__ of all films in _English_, _Spanish_, or _French_ using __IN__

In [ ]:
# # -- Find the title and language of all films in English, Spanish, and French
# SELECT title, language
# FROM films
# WHERE language IN('English', 'Spanish', 'French');

- Select the __title__, __certification__ and __language__ of all films __certified__ ___NC-17___ or ___R___ that are in _English_, _Italian_, or _Greek_.

In [ ]:
# # -- Find the title, certification, and language all films certified NC-17 or R that are in English, Italian, or Greek
# SELECT title, certification, language
# FROM films
# WHERE certification IN('NC-17', 'R')
#     AND language IN('English', 'Italian', 'Greek')

#### `Combining filtering and selecting`
Time for a little challenge. So far, your SQL vocabulary from this course includes __COUNT()__, __DISTINCT__, __LIMIT__, __WHERE__, __OR__, __AND__, __BETWEEN__, __LIKE__, __NOT LIKE__, and __IN__. In this exercise, you will try to use some of these together. Writing more complex queries will be standard for you as you become a qualified SQL programmer.

As this query will be a little more complicated than what you've seen so far, we've included a bit of code to get you started. You will be using __DISTINCT__ here too because, surprise, there are two movies named 'Hamlet' in this dataset!

Follow the instructions to find out what 90's films we have in our dataset that would be suitable for English-speaking teens.

- Count the unique __titles__ from the films database and use the alias provided.
- Filter to include only movies with a __release_year__ from ___1990___ to ___1999___, _inclusive_.
- Add another filter narrowing your query down to _English-language_ films.
- Add a final filter to select only films with '__G__', '__PG__', '__PG-13__' __certifications__.

In [ ]:
# # -- Count the unique titles
# SELECT COUNT(DISTINCT title) AS nineties_english_films_for_teens
# FROM films
# # -- Filter to release_years to between 1990 and 1999
# WHERE release_year BETWEEN 1990 AND 1999
# # -- Filter to English-language films
# 	AND language = 'English'
# -- Narrow it down to G, PG, and PG-13 certifications
# 	AND certification IN('G', 'PG', 'PG-13');

#### `Practice with NULLs`
Well done. Now that you know what __NULL__ means and what it's used for, it's time for some more practice!

Let's explore the __films__ table again to better understand what data you have.

- Select the __title__ of every film that doesn't have a budget associated with it and use the alias __no_budget_info__.

In [ ]:
# # -- List all film titles with missing budgets
# SELECT title AS no_budget_info
# FROM films
# WHERE budget IS NULL

- Count the number of films with a language associated with them and use the alias __count_language_known__.

In [ ]:
# # -- Count the number of films we have language data for
# SELECT COUNT(*) AS count_language_known
# FROM films
# WHERE language IS NOT NULL;