In [1]:
import numpy as np

costs = [8, 5, 7, 9]
print(np.array(costs) < 6)

[False  True False False]

#### `What does __not True__ result in?` 

- `False`
- True
- NaN

#### `What will thew code  __True and True__ result in?` 

- NaN
- `True`
- not True
- False

#### `Following is a preview of the DataFrame __df__:`

In [2]:
import pandas as pd

data = {
    'group': ['fruit', 'fruit', 'fruit', 'vegetable', 'vegetable', 'vegetable'],
    'name' : ['apple', 'banana', 'orange', 'broccoli', 'kale', 'lettuce'],
    'count' : [90, 150, 130, 80, 70, 125]
}

df = pd.DataFrame(data)
df

       group      name  count
0      fruit     apple     90
1      fruit    banana    150
2      fruit    orange    130
3  vegetable  broccoli     80
4  vegetable      kale     70
5  vegetable   lettuce    125

Complete the code to return the output

In [3]:
import numpy as np

df[np.logical_not(df['count'] > 100)]

       group      name  count
0      fruit     apple     90
3  vegetable  broccoli     80
4  vegetable      kale     70

In [4]:
(1 < 19) and (19 < 21)

True