In [ ]:
import numpy as np

files = '../datasets/mnist_kaggle_some_rows.csv'
data = np.load

In [1]:
import pandas as pd

# Sheet '2002'
data_2002 = {
    'country': ['Afghanistan', 'Albania', 'Algeria'],
    'value': [36.08399, 0.1289084, 18.31412]
}
df_2002 = pd.DataFrame(data_2002)

# Sheet '2004'
data_2004 = {
    'country': ['Afghanistan', 'Albania', 'Algeria'],
    'value': [9.45102787, 0.130353764, 3.407277346]
}
df_2004 = pd.DataFrame(data_2004)

print("DataFrame 2002:")
print(df_2002)
print("\nDataFrame 2004:")
print(df_2004)

DataFrame 2002:
       country      value
0  Afghanistan  36.083990
1      Albania   0.128908
2      Algeria  18.314120

DataFrame 2004:
       country     value
0  Afghanistan  9.451028
1      Albania  0.130354
2      Algeria  3.407277

In [3]:
data = 
data

                  country      value
0  AfghanistanAfghanistan  45.535018
1          AlbaniaAlbania   0.259262
2          AlgeriaAlgeria  21.721397

In [6]:
df = data_2002.parse('2002', skiprows=1)
print(df.head())

AttributeError: 'dict' object has no attribute 'parse'