In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from thefuzz import process
import recordlinkage
import matplotlib.pyplot as plt

In [10]:
# book = {
#     'title': 'The Giver',
#     'author': 'Lois Lowry',
#     'rating': 4.13
# }
# book = book['rating' ] = 4.16
# book['rating']

# def add(x,y):
#   return (x+y)

# add(2,4)

# def h_(houe):
#   return houe * 60 *60

# h_(8)


# book = {
#     'title': 'The Giver',
#     'author': 'Lois Lowry',
#     'rating': 4.13
# }

# book['format'] = 'paperback'
# book['format']


[ i *3 for i in range(5)]

[0, 3, 6, 9, 12]

In [11]:
def dob(n):
  return n*2
dob(4)

8

In [13]:
pack = ['a','b']

for i in pack:
  print(i)

a
b

In [14]:
class build:
  def __init__(self, number):
    self.number = number

b=build(245)
b.number

245

In [15]:
boardgames = [
    'Rivals for Catan',
    '7 Wonders Duel',
    'Carcassonne',
    'Hive',
]

boardgames.append('patch')
print(boardgames)

patch

In [16]:
def return_random(value):
  return value

return_random('two')

'two'

In [21]:
[i for i in range(5) if i >=3]

[3, 4]

In [22]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

a.intersection(b)


print()

{3, 4}

In [ ]:
<code>      name  height
0  Heather   160.3
1    Chris   175.1
2      Eva   165.4
</code>

 Transposing the last two letters of '___sign___' is the easiest way to get to '___sing___' - in the next exercise, you'll use edit distance at scale to remap categories!

In [2]:
file = '../datasets/banking_dirty.csv'
s = pd.read_csv(file, header=None)
# s = s.b

In [3]:
restaurants = pd.read_csv('../datasets/restaurants_L2.csv', usecols=lambda x: x != 'Unnamed: 0', nrows=287)
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    287 non-null    object
 1   addr    287 non-null    object
 2   city    287 non-null    object
 3   phone   287 non-null    int64
 4   type    287 non-null    object
dtypes: int64(1), object(4)
memory usage: 11.3+ KB

In [4]:
restaurants

,name,addr,city,phone,type
0,arnie morton's of chicago,435 s. la cienega blv .,los angeles,3102461501,american
1,art's delicatessen,12224 ventura blvd.,studio city,8187621221,american
2,campanile,624 s. la brea ave.,los angeles,2139381447,american
3,fenix,8358 sunset blvd. west,hollywood,2138486677,american
4,grill on the alley,9560 dayton way,los angeles,3102760615,american
...,...,...,...,...,...
282,lillie langtry's,129 e. fremont st.,las vegas,7023857111,asian
283,mandarin court,1510 e. flamingo rd.,las vegas,7027371234,asian
284,margarita's mexican cantina,3120 las vegas blvd. s,las vegas,7027948200,mexican
285,mikado,3400 las vegas blvd. s,las vegas,7027917111,asian
286,venetian,3713 w. sahara ave.,las vegas,7028764190,italian

#### `The cutoff point`
In this exercise, and throughout this chapter, you'll be working with the __restaurants__ DataFrame which has data on various __restaurants__. Your ultimate goal is to create a restaurant recommendation engine, but you need to first clean your data.

This version of __restaurants__ has been collected from many sources, where the __cuisine_type__ column is riddled with typos, and should contain only __italian__, __american__ and __asian__ cuisine types. There are so many unique categories that remapping them manually isn't scalable, and it's best to use string similarity instead.

Before doing so, you want to establish the cutoff point for the similarity score using the __thefuzz__'s __process.extract()__ function by finding the similarity score of the most distant typo of each category.

- Import __process__ from __thefuzz__.
- Store the unique __cuisine_types__ into __unique_types__.
- Calculate the similarity of '___asian___', '___american___', and '___italian___' to all possible __cuisine_types__ using __process.extract()__, while returning all possible matches.

#### `Question`
Take a look at the output, what do you think should be the similarity cutoff point when remapping categories?


- `80` 80 is that sweet spot where you convert all incorrect typos without remapping incorrect categories. Often times though, you may need to combine the techniques learned in chapter 2, especially since there could be strings that make it beyond our cutoff point, but are not actually a match!

- 70
- 60

In [5]:
# Import process from thefuzz
from thefuzz import process

# Store the unique values of cuisine_type in unique_types
unique_types = restaurants['type'].unique()

# Calculate similarity of 'asian' to all values of unique_types
print(process.extract('asian', unique_types, limit=len(unique_types)))

# Calculate similarity of 'american' to all values of unique_types
print(process.extract('american', unique_types, limit=len(unique_types)))

# Calculate similarity of 'italian' to all values of unique_types
print(process.extract('italian', unique_types, limit=len(unique_types)))

[('asian', 100), ('italian', 67), ('american', 62), ('mexican', 50), ('steakhouses', 40), ('cajun', 40), ('southwestern', 36), ('southern', 31), ('coffeebar', 26)]
[('american', 100), ('mexican', 80), ('cajun', 68), ('asian', 62), ('italian', 53), ('southwestern', 49), ('southern', 38), ('coffeebar', 24), ('steakhouses', 21)]
[('italian', 100), ('asian', 67), ('american', 53), ('mexican', 43), ('cajun', 33), ('southwestern', 33), ('steakhouses', 33), ('southern', 27), ('coffeebar', 12)]

- __Minimum Edit Distance__: You discovered that this metric measures the least number of operations (insertion, deletion, substitution, transposition) required to transform one string into another. For instance, transforming "intention" into "execution" involves a series of steps, with each operation counting towards the total edit distance.

- __String Comparison with__ __thefuzz__: You explored how to use the __thefuzz__ package for string comparison, focusing on the WRatio function to compute similarity scores between strings. This method assigns scores ranging from 0 (not similar) to 100 (exact match), offering a robust way to compare strings with partial matches or different orderings.

- __Practical Application__: Through exercises, you applied these concepts to clean data by remapping categories in a DataFrame. You used the extract function from __thefuzz__ to compare a string against an array of strings, identifying matches with a similarity score above a certain threshold to consolidate typos or variations into correct categories.

For example, to compare the similarity between "reading" and its typo using __thefuzz__, you would use:

  - ___from thefuzz import fuzz___
  - ___similarity_score = fuzz.WRatio('reading', 'raeding')___
This lesson equipped you with the tools to improve data quality by addressing inconsistencies in textual data, setting the stage for more advanced record linkage techniques.

In [11]:
restaurants.rename(columns={'type': 'cuisine_type'}, inplace=True)
restaurants.head(0)

Empty DataFrame
Columns: [name, addr, city, phone, cuisine_type]
Index: []

- Instantiate a comparison object using the __recordlinkage.Compare()__ function.

In [6]:
# Create a comparison object
comp_cl = recordlinkage.Compare()

- Use the appropriate __comp_cl__ method to find exact matches between the __city__ and __cuisine_type__ columns of both DataFrames.
- Use the appropriate __comp_cl__ method to find similar strings with a __0.8__ similarity threshold in the __rest_name__ column of both DataFrames.

In [8]:
# Create a comparison object
comp_cl = recordlinkage.Compare()

# Find exact matches on city, cuisine_types
comp_cl.exact('city', 'city', label='city')
comp_cl.exact('cuisine_type', 'cuisine_type', label='cuisine_type')

# Find similar matches of rest_name
comp_cl.string('name', 'name', label='name', threshold=0.8)

Now that your pairs have been generated and stored in pairs, you will find exact matches in the city and cuisine_type columns between each pair, and similar strings for each pair in the rest_name column. Both DataFrames, pandas and recordlinkage are in your environment.

 For this example, tightening your selection criteria will ensure good duplicate finds!

- __Understanding Record Linkage__: You discovered that record linkage is the method used to combine data from different sources by identifying and linking records that refer to the same entity across datasets. This is particularly useful when datasets have fuzzy duplicate values that a regular join can't merge.

- __Generating Pairs with Blocking__: You learned how to generate pairs of potentially matching records between two DataFrames. To manage scalability and efficiency, especially with large datasets, you applied the concept of blocking. Blocking reduces the number of comparisons needed by only generating pairs that match on a specified column, such as the state column in our example.

- __Using the recordlinkage Package__: You explored how to use the recordlinkage package to perform these tasks. For instance, to generate pairs blocked by state, you used:

  - ___import recordlinkage___
  - indexer = recordlinkage.Index()
  - __indexer.block('state')__
  - __pairs = indexer.index(census_A, census_B)__

This code snippet creates an indexing object to generate pairs, significantly reducing the potential pairs to a manageable number by focusing on those that share the same state.

- __Comparing Records__: After generating pairs, you learned how to compare them to find potential matches. You used exact matches for some columns and computed string similarities for others, employing methods like .exact() and .string() from the recordlinkage package. This step is crucial for identifying which records across the datasets refer to the same entities.

- __Filtering Matches__: Finally, you discovered how to filter these comparisons to identify true matches based on a threshold, preparing you for the next steps in linking the records to create a unified dataset.

This lesson equipped you with the foundational skills to start merging datasets with record linkage, setting the stage for more advanced techniques in data preparation and cleaning.