In [5]:
import pandas as pd
arr = [
    [150, 'Bukit Duri', 100, 220, 'Darurat'],
    [90, 'Katulampa', 220, 180, 'Darurat'],
    [100, 'Bukit Duri', 200, 150, 'Siaga'],
    [200, 'Beji', 200, 130, 'Siaga'],
    [150, 'Beji', 100, 180, 'Darurat'],
    [190, 'Katulampa', 210, 150, 'Darurat'],
]

df = pd.DataFrame(arr)
df.columns = ['curah_hujan', 'site', 'debit_air', 'tinggi_muka_air', 'status']
df

   curah_hujan        site  debit_air  tinggi_muka_air   status
0          150  Bukit Duri        100              220  Darurat
1           90   Katulampa        220              180  Darurat
2          100  Bukit Duri        200              150    Siaga
3          200        Beji        200              130    Siaga
4          150        Beji        100              180  Darurat
5          190   Katulampa        210              150  Darurat

### `LOC`

In [6]:
df.loc[1:4, 'curah_hujan':'debit_air']

   curah_hujan        site  debit_air
1           90   Katulampa        220
2          100  Bukit Duri        200
3          200        Beji        200
4          150        Beji        100

### `ILOC`

In [7]:
df.iloc[1:5, 0:3]

   curah_hujan        site  debit_air
1           90   Katulampa        220
2          100  Bukit Duri        200
3          200        Beji        200
4          150        Beji        100

In [8]:
import datetime as dt
today_date = dt.date.today()
today_date

datetime.date(2024, 8, 18)

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('')

FileNotFoundError: [Errno 2] No such file or directory: ''

In [ ]:
# Data awal sebagai string
data = """Melodie Stuart
Dominic Shannon
Quintessa Tillman
Dr. Christine Nicholson
Regina Clements
"""

# Memisahkan data menjadi daftar nama berdasarkan newline
names = data.splitlines()
print(names)

['Melodie Stuart', 'Dominic Shannon', 'Quintessa Tillman', 'Dr. Christine Nicholson', 'Regina Clements']

In [ ]:

# # Menambahkan koma di akhir setiap nama
# names_with_comma = [name + "," for name in names]

# # Menggabungkan kembali daftar menjadi string dengan newline
# final_data = "\n".join(names_with_comma)

# # Menampilkan hasilnya
# print(final_data)

In [ ]:
# hell = pd.DataFrame(final_data)

In [ ]:
import pandas as pd
data = {
    'cleanliness': ['Clean', 'Average', 'Somewhat clean', 'Somewhat dirty', 'Dirty'],
    'safety': ['Neutral', 'Very safe', 'Somewhat safe', 'Very unsafe', 'Somewhat unsafe'],
    'satisfaction': ['Very satisfied', 'Neutral', 'Somewhat satisfied', 'Somewhat unsatisfied', 'Very unsatisfied'],
    'full_name': names
}

categories = pd.DataFrame(data)
categories

,cleanliness,safety,satisfaction,full_name
0,Clean,Neutral,Very satisfied,Melodie Stuart
1,Average,Very safe,Neutral,Dominic Shannon
2,Somewhat clean,Somewhat safe,Somewhat satisfied,Quintessa Tillman
3,Somewhat dirty,Very unsafe,Somewhat unsatisfied,Dr. Christine Nicholson
4,Dirty,Somewhat unsafe,Very unsatisfied,Regina Clements

In [ ]:
categories

,cleanliness,safety,satisfaction,full_name
0,Clean,Neutral,Very satisfied,Melodie Stuart
1,Average,Very safe,Neutral,Dominic Shannon
2,Somewhat clean,Somewhat safe,Somewhat satisfied,Quintessa Tillman
3,Somewhat dirty,Very unsafe,Somewhat unsatisfied,Dr. Christine Nicholson
4,Dirty,Somewhat unsafe,Very unsatisfied,Regina Clements

In [ ]:
full_name = """Melodie Stuart
Dominic Shannon
Quintessa Tillman
Dr. Christine Nicholson
Regina Clements
Colleen Harding
Kaitlin Cochran
Molly Norton
Richard Lott
Matthew Nguyen
Dr. Laith Decker
Holly Austin
Jaden Gray
Germaine Hurley
Kyle Gay
Zachery Diaz
Carolyn Hartman
Miss Alana Grant
Idola Acosta
Dara English
Miss Aurora Flores
Henry Sloan
Jared Chase
Xavier Castro
Holmes Fowler
Lucy Noel
Kerry Tucker
Garrison Barrett
Stephanie Cannon
Dr. Charlotte Savage
Lane Clements
Aimee Whitfield
Martena Neal
Xandra Hartman
Meredith Gutierrez
Mr. Kermit Deleon
Derek Terrell
Shaeleigh Mccarthy
Burke Leon
Mr. Clinton Holmes
Whoopi Tillman
Hamilton Gardner
Graiden Bridges
Sheila Robinson
Cameron Barlow
Kasimir Irwin
Ms. Lilah Chen
Judith Price
Dane Barker
Micah Bullock
Leonard Stevens
Ms. Beverly Hampton
Devin Morrison
Mr. Jordan Cooke
Miss Ann Hale
Graiden Riddle
Julian Stanley
Christine Carter
Hasad Valentine
Bevis Mcdowell
Alec Davis
Dr. Daniel Hood
Ms. Britanney Schmidt
Wanda Jackson
Quyn Henderson
Hammett Duncan
Duncan Stark
Jin Shannon
Fulton Meadows
Dr. Malik Hanson
Laith Espinoza
Dr. Jared Holman
Julie Davidson
Dr. Jane Harrell
Aphrodite Shannon
Jermaine Randall
Hammett Talley
Sasha Riggs
Dr. Damian Wynn
Aidan Macias
Sawyer Hines
Mr. Hector Caldwell
Abra Webb
Stone Price
Cheyenne Stout
Lareina Wall
Dr. Ella Pena
Quintessa Sherman
Ishmael Duffy
Ms. Willa Stuart
Gareth Hunt
Stewart Jacobs
Ms. Amaya Pate
Dr. Xavier Medina
Mr. Marvin Mcneil
Imogene Harris
Abbot Hensley
Miss Fiona Velez
Rinah Stephenson
Ms. Olivia Keith
Vielka Rosario
Lani Sawyer
Clayton Sparks
Oprah Ingram
Acton Smith
Demetria Byrd
Patience Galloway
Hoyt Alvarez
Dara Pennington
Ebony Davidson
Brent Rosario
Melyssa Mayer
Regan Kelly
Leah Barlow
Nathan Santos
Uta Mckee
Lawrence Gallegos
Matthew Edwards
Xander Wilson
Kelly Pittman
Brynne Pugh
Shea Collins
Hu Carver
Stacey Coleman
Kaye Mcgowan
Vivien Cobb
Vaughan Harrison
Porter Hudson
Carl Conway
Lyle Bradshaw
Hashim Walter
Branden Larson
Idola Ball
Camilla White
Rafael Lowery
Victor Leon
Yasir Lynch
Dr. Emerson Woodard
Dr. Astra Mcneil
Dr. Shafira Marks
Mr. Dominic Smith
Talon Holder
Ivor Wise
Carolyn Clay
Jerome Ruiz
Todd Chase
Gray Noel
Ann Sanchez
Mr. Alec Heath
Heidi Terry
Alana Velasquez
Mr. Jared York
Abbot Lester
Dr. Fulton Turner
Dr. Maggie Cortez
Ramona Wade
Dr. Lynn Thomas
Aquila Graham
Gareth Marks
Dolan Wolf
Julie Coffey
Emerson Hatfield
Claire Rios
Christian Doyle
Haley Oliver
Rigel Day
Clare Gould
Ms. Keiko Mcfarland
Duncan Chandler
Penelope Stark
Kasper Shields
Dr. Rose Fleming
Miss Petra Mitchell
Ms. Regan Lynch
Keane Bennett
Nash Head
Ainsley Riley
Kirestin Newton
Jakeem Hall
Reece Mitchell
Wanda Walls
Barry Mccray
Dr. Zahir Hardin
Graiden Cox
Miss Lara Green
Felix Bell
Mr. Addison Day
Tallulah Guzman
Jocelyn Guzman
Ivory Miller
Mr. Eaton Vazquez
Silas Clemons
Quinn Barry
Orson Pratt
Constance Morse
Ms. Vanna Rivera
Miss Venus Lowe
Amethyst Nieves
Miss Vivian Foreman
Miss Wendy Griffin
"""

In [ ]:
full_name = full_name.splitlines()

print(full_name)

['Melodie Stuart', 'Dominic Shannon', 'Quintessa Tillman', 'Dr. Christine Nicholson', 'Regina Clements', 'Colleen Harding', 'Kaitlin Cochran', 'Molly Norton', 'Richard Lott', 'Matthew Nguyen', 'Dr. Laith Decker', 'Holly Austin', 'Jaden Gray', 'Germaine Hurley', 'Kyle Gay', 'Zachery Diaz', 'Carolyn Hartman', 'Miss Alana Grant', 'Idola Acosta', 'Dara English', 'Miss Aurora Flores', 'Henry Sloan', 'Jared Chase', 'Xavier Castro', 'Holmes Fowler', 'Lucy Noel', 'Kerry Tucker', 'Garrison Barrett', 'Stephanie Cannon', 'Dr. Charlotte Savage', 'Lane Clements', 'Aimee Whitfield', 'Martena Neal', 'Xandra Hartman', 'Meredith Gutierrez', 'Mr. Kermit Deleon', 'Derek Terrell', 'Shaeleigh Mccarthy', 'Burke Leon', 'Mr. Clinton Holmes', 'Whoopi Tillman', 'Hamilton Gardner', 'Graiden Bridges', 'Sheila Robinson', 'Cameron Barlow', 'Kasimir Irwin', 'Ms. Lilah Chen', 'Judith Price', 'Dane Barker', 'Micah Bullock', 'Leonard Stevens', 'Ms. Beverly Hampton', 'Devin Morrison', 'Mr. Jordan Cooke', 'Miss Ann Hale', 'Graiden Riddle', 'Julian Stanley', 'Christine Carter', 'Hasad Valentine', 'Bevis Mcdowell', 'Alec Davis', 'Dr. Daniel Hood', 'Ms. Britanney Schmidt', 'Wanda Jackson', 'Quyn Henderson', 'Hammett Duncan', 'Duncan Stark', 'Jin Shannon', 'Fulton Meadows', 'Dr. Malik Hanson', 'Laith Espinoza', 'Dr. Jared Holman', 'Julie Davidson', 'Dr. Jane Harrell', 'Aphrodite Shannon', 'Jermaine Randall', 'Hammett Talley', 'Sasha Riggs', 'Dr. Damian Wynn', 'Aidan Macias', 'Sawyer Hines', 'Mr. Hector Caldwell', 'Abra Webb', 'Stone Price', 'Cheyenne Stout', 'Lareina Wall', 'Dr. Ella Pena', 'Quintessa Sherman', 'Ishmael Duffy', 'Ms. Willa Stuart', 'Gareth Hunt', 'Stewart Jacobs', 'Ms. Amaya Pate', 'Dr. Xavier Medina', 'Mr. Marvin Mcneil', 'Imogene Harris', 'Abbot Hensley', 'Miss Fiona Velez', 'Rinah Stephenson', 'Ms. Olivia Keith', 'Vielka Rosario', 'Lani Sawyer', 'Clayton Sparks', 'Oprah Ingram', 'Acton Smith', 'Demetria Byrd', 'Patience Galloway', 'Hoyt Alvarez', 'Dara Pennington', 'Ebony Davidson', 'Brent Rosario', 'Melyssa Mayer', 'Regan Kelly', 'Leah Barlow', 'Nathan Santos', 'Uta Mckee', 'Lawrence Gallegos', 'Matthew Edwards', 'Xander Wilson', 'Kelly Pittman', 'Brynne Pugh', 'Shea Collins', 'Hu Carver', 'Stacey Coleman', 'Kaye Mcgowan', 'Vivien Cobb', 'Vaughan Harrison', 'Porter Hudson', 'Carl Conway', 'Lyle Bradshaw', 'Hashim Walter', 'Branden Larson', 'Idola Ball', 'Camilla White', 'Rafael Lowery', 'Victor Leon', 'Yasir Lynch', 'Dr. Emerson Woodard', 'Dr. Astra Mcneil', 'Dr. Shafira Marks', 'Mr. Dominic Smith', 'Talon Holder', 'Ivor Wise', 'Carolyn Clay', 'Jerome Ruiz', 'Todd Chase', 'Gray Noel', 'Ann Sanchez', 'Mr. Alec Heath', 'Heidi Terry', 'Alana Velasquez', 'Mr. Jared York', 'Abbot Lester', 'Dr. Fulton Turner', 'Dr. Maggie Cortez', 'Ramona Wade', 'Dr. Lynn Thomas', 'Aquila Graham', 'Gareth Marks', 'Dolan Wolf', 'Julie Coffey', 'Emerson Hatfield', 'Claire Rios', 'Christian Doyle', 'Haley Oliver', 'Rigel Day', 'Clare Gould', 'Ms. Keiko Mcfarland', 'Duncan Chandler', 'Penelope Stark', 'Kasper Shields', 'Dr. Rose Fleming', 'Miss Petra Mitchell', 'Ms. Regan Lynch', 'Keane Bennett', 'Nash Head', 'Ainsley Riley', 'Kirestin Newton', 'Jakeem Hall', 'Reece Mitchell', 'Wanda Walls', 'Barry Mccray', 'Dr. Zahir Hardin', 'Graiden Cox', 'Miss Lara Green', 'Felix Bell', 'Mr. Addison Day', 'Tallulah Guzman', 'Jocelyn Guzman', 'Ivory Miller', 'Mr. Eaton Vazquez', 'Silas Clemons', 'Quinn Barry', 'Orson Pratt', 'Constance Morse', 'Ms. Vanna Rivera', 'Miss Venus Lowe', 'Amethyst Nieves', 'Miss Vivian Foreman', 'Miss Wendy Griffin']

In [ ]:
import numpy as np

# np.save('full_name.npy', full_name)

In [ ]:
survey_response = """It was terrible
I didn't like the flight
I hate this
Not a fan
Bad
Horrible
Very poor
Unacceptable flight
It was awful
My fllight was really unpleasant
I am not a fan
I had a bad flight
It was very bad
it was horrible
Terrible
It was substandard
I did not enjoy the flight
The airport personnell forgot to alert us of delayed flights, the bathrooms could have been cleaner
The food in the airport was really really expensive - also no automatic escalators!
One of the other travelers was really loud and talkative and was making a scene and no one did anything about it
I don't remember answering the survey with these scores, my experience was great!
The airport personnel kept ignoring my requests for directions
The chair I sat in was extremely uncomfortable, I still have back pain to this day!
I wish you were more like other airports, the flights were really disorganized!
I was really unsatisfied with the wait times before the flight. It was unacceptable.
The flight was okay, but I didn't really like the number of times I had to stop at security
We were really slowed down by security measures, I missed my flight because of it!
There was a spill on the aisle next to the bathroom and it took hours to clean!
I felt very unsatisfied by how long the flight took to take off.
"""

In [ ]:
survey_response = survey_response.splitlines()
survey_response

['It was terrible',
 "I didn't like the flight",
 'I hate this',
 'Not a fan',
 'Bad',
 'Horrible',
 'Very poor',
 'Unacceptable flight',
 'It was awful',
 'My fllight was really unpleasant',
 'I am not a fan',
 'I had a bad flight',
 'It was very bad',
 'it was horrible',
 'Terrible',
 'It was substandard',
 'I did not enjoy the flight',
 'The airport personnell forgot to alert us of delayed flights, the bathrooms could have been cleaner',
 'The food in the airport was really really expensive - also no automatic escalators!',
 'One of the other travelers was really loud and talkative and was making a scene and no one did anything about it',
 "I don't remember answering the survey with these scores, my experience was great!",
 'The airport personnel kept ignoring my requests for directions',
 'The chair I sat in was extremely uncomfortable, I still have back pain to this day!',
 'I wish you were more like other airports, the flights were really disorganized!',
 'I was really unsatisfied with the wait times before the flight. It was unacceptable.',
 "The flight was okay, but I didn't really like the number of times I had to stop at security",
 'We were really slowed down by security measures, I missed my flight because of it!',
 'There was a spill on the aisle next to the bathroom and it took hours to clean!',
 'I felt very unsatisfied by how long the flight took to take off.']

In [ ]:
# np.save('survey_response.npy', survey_response)

In [ ]:
acct_cur = """dollar
dollar
dollar
euro
euro
dollar
dollar
euro
dollar
euro
dollar
dollar
dollar
euro
dollar
dollar
euro
euro
dollar
euro
dollar
dollar
euro
euro
euro
dollar
dollar
euro
dollar
dollar
dollar
dollar
dollar
dollar
dollar
dollar
dollar
euro
euro
dollar
dollar
dollar
dollar
dollar
euro
dollar
dollar
dollar
euro
dollar
dollar
euro
euro
euro
euro
dollar
dollar
dollar
dollar
dollar
dollar
dollar
dollar
dollar
dollar
dollar
euro
dollar
dollar
dollar
euro
dollar
dollar
dollar
dollar
dollar
euro
dollar
euro
euro
euro
dollar
dollar
dollar
dollar
euro
euro
euro
dollar
euro
dollar
dollar
dollar
dollar
dollar
dollar
dollar
"""

In [ ]:
acct_cur = acct_cur.splitlines()
acct_cur

['dollar',
 'dollar',
 'dollar',
 'euro',
 'euro',
 'dollar',
 'dollar',
 'euro',
 'dollar',
 'euro',
 'dollar',
 'dollar',
 'dollar',
 'euro',
 'dollar',
 'dollar',
 'euro',
 'euro',
 'dollar',
 'euro',
 'dollar',
 'dollar',
 'euro',
 'euro',
 'euro',
 'dollar',
 'dollar',
 'euro',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'euro',
 'euro',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'euro',
 'dollar',
 'dollar',
 'dollar',
 'euro',
 'dollar',
 'dollar',
 'euro',
 'euro',
 'euro',
 'euro',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'euro',
 'dollar',
 'dollar',
 'dollar',
 'euro',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'euro',
 'dollar',
 'euro',
 'euro',
 'euro',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'euro',
 'euro',
 'euro',
 'dollar',
 'euro',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar',
 'dollar']

In [ ]:
np.save('acct_cur.npy', acct_cur)

In [ ]:
age = """62
62
34
39
40
44
53
61
49
59
42
58
40
49
46
53
46
41
59
31
62
62
32
56
32
40
32
43
35
35
57
37
63
43
38
31
40
62
35
52
51
50
41
54
32
49
35
62
61
63
45
53
46
32
36
33
52
50
54
56
52
49
33
49
42
58
41
34
57
32
36
55
52
50
37
50
48
44
50
52
54
33
51
61
51
50
50
56
57
56
40
50
34
61
63
50
35
40
55
31
"""

In [ ]:
age = age.splitlines()
age

['62',
 '62',
 '34',
 '39',
 '40',
 '44',
 '53',
 '61',
 '49',
 '59',
 '42',
 '58',
 '40',
 '49',
 '46',
 '53',
 '46',
 '41',
 '59',
 '31',
 '62',
 '62',
 '32',
 '56',
 '32',
 '40',
 '32',
 '43',
 '35',
 '35',
 '57',
 '37',
 '63',
 '43',
 '38',
 '31',
 '40',
 '62',
 '35',
 '52',
 '51',
 '50',
 '41',
 '54',
 '32',
 '49',
 '35',
 '62',
 '61',
 '63',
 '45',
 '53',
 '46',
 '32',
 '36',
 '33',
 '52',
 '50',
 '54',
 '56',
 '52',
 '49',
 '33',
 '49',
 '42',
 '58',
 '41',
 '34',
 '57',
 '32',
 '36',
 '55',
 '52',
 '50',
 '37',
 '50',
 '48',
 '44',
 '50',
 '52',
 '54',
 '33',
 '51',
 '61',
 '51',
 '50',
 '50',
 '56',
 '57',
 '56',
 '40',
 '50',
 '34',
 '61',
 '63',
 '50',
 '35',
 '40',
 '55',
 '31']

In [11]:
# import numpy as np
# np.save('age.npy', age)