In [40]:
import pandas as pd
import numpy as np

In [41]:
wards = pd.read_pickle('../datasets/ward.p')
wards.head()

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649

In [42]:
census = pd.read_pickle('../datasets/census.p')
census.head()

,ward,pop_2000,pop_2010,change,address,zip
0,1,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,40385,53039,31%,17 EAST 38TH STREET,60653
3,4,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653
4,5,55302,51455,-7%,JACKSON PARK LAGOON SOUTH CORNELL DRIVE,60637

#### `Inner joins and number of rows returned`
- Inner joins and number of rows returned
All of the merges you have studied to this point are called inner joins. It is necessary to understand that inner joins only return the rows with matching values in both tables. You will explore this further by reviewing the merge between the wards and census tables, then comparing it to merges of copies of these tables that are slightly altered, named wards_altered, and census_altered. The first row of the wards column has been changed in the altered tables. You will examine how this affects the merge between them. The tables have been loaded for you.
- For this exercise, it is important to know that the wards and census tables start with 50 rows.

##### Quest 3 CH-1
- Merge wards and census on the ward column and save the result to wards_census.

In [43]:
# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on='ward')

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)

wards_census table shape: (50, 9)

In [44]:
# HELL NAAA BRO 
data = {
    'ward': [61, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
    'alderman': ['Proco "Joe" Moreno', 'Brian Hopkins', 'Pat Dowell', 'William D. Burns', 'Leslie A. Hairston', 'Roderick T. Sawyer', 'Gregory I. Mitchell', 'Michelle A. Harris', 'Anthony A. Beale', 'Susan Sadlowski Garza', 'Patrick Daley Thompson', 'George Cardenas', 'Marty Quinn', 'Edward M. Burke', 'Raymond A. Lopez', 'Toni L. Foulkes', 'David H. Moore', 'Derrick G. Curtis', 'Matthew J. O\'Shea', 'Willie B. Cochran', 'Howard B. Brookins, Jr.', 'Ricardo Munoz', 'Michael R. Zalewski', 'Michael Scott, Jr.', 'Daniel "Danny" Solis', 'Roberto Maldonado', 'Walter Burnett, Jr.', 'Jason C. Ervin', 'Chris Taliaferro', 'Ariel E. Reyboras', 'Milagros "Milly" Santiago', 'Scott Waguespack', 'Deborah Mell', 'Carrie M. Austin', 'Carlos Ramirez-Rosa', 'Gilbert Villegas', 'Emma M. Mitts', 'Nicholas Sposato', 'Margaret Laurino', 'Patrick J. O\'Connor', 'Anthony V. Napolitano', 'Brendan Reilly', 'Michelle Smith', 'Tom Tunney', 'John S. Arena', 'James Cappleman', 'Ameya Pawar', 'Harry Osterman', 'Joe Moore', 'Debra L. Silverstein'],
    'address': ['2058 NORTH WESTERN AVENUE', '1400 NORTH  ASHLAND AVENUE', '5046 SOUTH STATE STREET', '435 EAST 35TH STREET, 1ST FLOOR', '2325 EAST 71ST STREET', '8001 S. MARTIN LUTHER KING DRIVE', '2249 EAST 95TH STREET', '8539 SOUTH COTTAGE GROVE AVENUE', '34 EAST 112TH PLACE', '10500 SOUTH EWING AVENUE', '3659 SOUTH HALSTED STREET', '3476 SOUTH ARCHER AVENUE', '6500 SOUTH PULASKI ROAD', '2650 WEST 51ST STREET', '1650 WEST 63RD STREET', '3045 WEST 63RD STREET', '7313 SOUTH ASHLAND AVENUE', '8359 SOUTH PULASKI ROAD', '10400 SOUTH WESTERN AVENUE', '6357 SOUTH COTTAGE GROVE AVENUE', '9011 SOUTH ASHLAND AVENUE, UNIT B', '2500 SOUTH ST. LOUIS AVENUE', '6247 SOUTH ARCHER AVENUE', '1158 SOUTH KEELER AVENUE', '1800 SOUTH BLUE ISLAND AVENUE', '2511 WEST DIVISION STREET', '4 NORTH WESTERN AVENUE', '2602 WEST 16TH STREET', '6272 WEST NORTH AVENUE', '3559 NORTH MILWAUKEE AVENUE', '2521 NORTH PULASKI ROAD', '2657 NORTH CLYBOURN AVENUE', '3001 WEST IRVING PARK ROAD', '507 WEST 111TH STREET', '2710 NORTH SAWYER AVENUE', '6934 WEST DIVERSEY', '4924 WEST CHICAGO AVENUE', '3821  NORTH HARLEM AVENUE', '4404 WEST LAWRENCE AVENUE', '5850 NORTH LINCOLN AVENUE', '7442 NORTH HARLEM AVENUE', '325 WEST HURON STREET, SUITE 510', '2523 NORTH HALSTED STREET', '3223 NORTH SHEFFIELD AVENUE', '4754 NORTH MILWAUKEEAVENUE', '4544 NORTH BROADWAY AVENUE', '4243 NORTH LINCOLN AVENUE', '5533 NORTH BROADWAY AVENUE', '7356 NORTH GREENVIEW AVENUE', '2949 WEST DEVON AVENUE, SUITE A'],
    'zip': ['60647', '60622', '60609', '60616', '60649', '60619', '60617', '60619', '60628', '60617', '60609', '60608', '60629', '60632', '60636', '60629', '60636', '60652', '60643', '60637', '60620', '60623', '60638', '60624', '60608', '60622', '60612', '60612', '60639', '60641', '60639', '60614', '60618', '60628', '60647', '60607', '60651', '60634', '60630', '60659', '60631', '60654', '60614', '60657', '60630', '60640', '60618', '60640', '60626', '60659']
}

wards_altered = pd.DataFrame(data)

In [45]:
census.head()

,ward,pop_2000,pop_2010,change,address,zip
0,1,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,40385,53039,31%,17 EAST 38TH STREET,60653
3,4,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653
4,5,55302,51455,-7%,JACKSON PARK LAGOON SOUTH CORNELL DRIVE,60637

In [46]:
wards_altered['ward'] = wards_altered['ward'].astype(str)

##### Quest 3.1 CH-1
- Merge the wards_altered and census tables on the ward column, and notice the difference in returned rows.

In [47]:
# Print the first few rows of the wards_altered table to view the change 
print(wards_altered[['ward']].head())

# Merge the wards_altered and census tables on the ward column
wards_altered_census = wards_altered.merge(census, on='ward')
# Print the shape of wards_altered_census
print('wards_altered_census table shape:', wards_altered_census.shape)

  ward
0   61
1    2
2    3
3    4
4    5
wards_altered_census table shape: (49, 9)

##### Quest 3.2 CH-1
Merge the wards and census_altered tables on the ward column, and notice the difference in returned rows.

In [52]:
import pandas as pd

data = {
    'ward': [None, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
             21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
             40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
    'pop_2000': [52951, 54361, 40385, 51953, 55302, 54989, 54593, 54039, 52008, 56613,
                 64228, 68922, 64382, 80143, 56057, 50205, 49264, 55043, 54546, 51854,
                 51751, 59734, 63691, 50879, 55954, 56841, 61287, 49423, 61949, 72698,
                 65045, 57204, 63695, 49922, 57588, 63376, 56120, 66011, 64291, 58652,
                 56127, 68102, 57668, 58758, 60653, 56587, 52108, 56246, 59435, 62383],
    'pop_2010': [56149, 55805, 53039, 54589, 51455, 52341, 51581, 51687, 51519, 51535,
                 51497, 52235, 53722, 54031, 51501, 51954, 51846, 52992, 51525, 52372,
                 51632, 53515, 53728, 54909, 54539, 53516, 52939, 55199, 55267, 55560,
                 53724, 55184, 55598, 51599, 55281, 54766, 51538, 56001, 55882, 55319,
                 55991, 55870, 56170, 56058, 55967, 53784, 55074, 55014, 54633, 55809],
    'change': ['6%', '3%', '31%', '5%', '0%','-7%', '-5%', '-6%', '-4%', '-1%', '-9%', '-20%',
               '-24%', '-17%', '-33%', '-8%', '3%', '5%', '-4%', '-6%', '1%', '0%', '-10%',
               '-16%', '8%', '-3%', '-6%', '-14%', '12%', '-11%', '-24%', '-17%', '-4%',
               '-13%', '-13%', '3%', '-4%', '-14%', '-8%', '-15%', '-13%', '-6%', '0%',
               '-18%', '-3%', '-5%', '-8%', '-5%', '6%', '-2%', '-8%', '-11%'],
    'address': ['2765 WEST SAINT MARY STREET', 'WM WASTE MANAGEMENT 1500', '17 EAST 38TH STREET',
                '31ST ST HARBOR BUILDING LAKEFRONT TRAIL', 'JACKSON PARK LAGOON SOUTH CORNELL DRIVE',
                '150 WEST 74TH STREET', '8549 SOUTH OGLESBY AVENUE', '1346-1352 EAST 75TH STREET',
                '11039-11059 SOUTH WENTWORTH AVENUE', '10534 SOUTH AVENUE F', '943-947 WEST 14TH PLACE',
                'CP 46 STEVENSON EXPRESSWAY', 'SOUTH RAMP SOUTH LARAMIE AVENUE', '4540 WEST 51ST STREET',
                'CHICAGO FIRE DEPARTMENT ENGINE COMPANY 123 2215', '6036 SOUTH WOOD STREET',
                '7216 SOUTH WINCHESTER AVENUE', '3286 WEST COLUMBUS AVENUE', '9999 SOUTH FRANCISCO AVENUE',
                'DAN RYAN EXPRESSWAY PARK MANOR', '8852-8854 SOUTH EMERALD AVENUE', '4233 WEST 36TH STREET',
                'CHICAGO MIDWAY INTERNATIONAL AIRPORT WEST 62ND...', '1635 SOUTH CHRISTIANA AVENUE',
                '1632-1746 SOUTH MILLER STREET', 'LITTLE CUBS FIELD COMFORT STATION 1400',
                '2151-2153 WEST CHICAGO AVENUE', 'RML SPECIALTY HOSPITAL 3435', '1241 NORTH RIDGELAND AVENUE',
                '5118 WEST FLETCHER STREET', '2854 NORTH KEATING AVENUE', '2901 NORTH WASHTENAW AVENUE',
                '4041-4043 NORTH RICHMOND STREET', '11544-11546 SOUTH PEORIA STREET', '3634 WEST BELMONT AVENUE',
                '2918 NORTH RUTHERFORD AVENUE', '4738-4748 WEST RICE STREET', '7307-7331 WEST IRVING PARK ROAD',
                'QUEEN OF ALL SAINTS BASILICA 6280', '5536 NORTH ARTESIAN AVENUE', '1652 SOUTH CLIFTON AVENUE',
                '410-420 WEST GRAND AVENUE', 'LINCOLN PARK ZOO 2001', '507-513 WEST ALDINE AVENUE',
                'CONGREGATIONAL CHURCH OF JEFFERSON PARK 5320', 'UPTOWN BROADWAY BUILDING 4743-4763',
                '2153 WEST BERTEAU AVENUE', '1025 WEST HOLLYWOOD AVENUE', '1426 WEST ESTES AVENUE',
                '2638 WEST NORTH SHORE AVENUE'],
    'zip': [60647, 60622, 60653, 60653, 60637, 60636, 60617, 60649, 60628, 46394, 60607,
            60632, 60638, 60632, 60632, 60636, 60636, 60652, 60805, 60621, 60620, 60632,
            60629, 60623, 60608, 60622, 60651, 60624, 60302, 60641, 60641, 60618, 60625,
             60827, 60618, 60634, 60651, 60706, 60646, 60645, 60068, 60654, 60614, 60657,
            60630, 60640, 60618, 60660, 60645, 60645]
}

df = pd.DataFrame(data)

ValueError: All arrays must be of the same length

In [ ]:
# Print the first few rows of the census_altered table to view the change 
print(census_altered[['ward']].head())

# Merge the wards and census_altered tables on the ward column
wards_census_altered = wards.merge(census_altered, on='ward')

# Print the shape of wards_census_altered
print('wards_census_altered table shape:', wards_census_altered.shape)

NameError: name 'census_altered' is not defined